<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h2>Edit this schedule</h2>
        <form action="/update/<%= id %>" method="post">
            <div class="form-row">
                <div class="form-item">
                    <label> Company Name</label>
                    <input id="fname" type="text" name="company"  value = "<%= company %>" required>
        
                </div>
            </div>
            <div class="form-row">
                <div class="form-item">
                    <label>Publish Date</label>
                    <input  id="country" type="date" name="date" value = "<%= date %>" required>
                </div>
            </div>
        
            <div class="form-row">
                <div class="form-item">
                    <label>Theme of meeting</label>
                    <textarea id="subject" name="description" value = "<%= description %>">
                    </textarea>
                </div>
            </div>
            <button class="btn" type="submit">update</button>
        </form>
        <br>
    <%- include('./partials/footer.ejs') %>
</body>
</html>